SELECT name, water_type, ST_AsText(ST_Centroid(geometry)) as center FROM water_bodies WHERE name IS NOT NULL AND (name ILIKE '%vänern%' OR name ILIKE '%vättern%' OR name ILIKE '%mälaren%' OR name ILIKE '%storsjön%' OR name ILIKE '%siljan%') ORDER BY name;
